<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Chat</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ChatApplication.styles.css" asp-append-version="true"/>
    <script src="https://kit.fontawesome.com/1a921e69f5.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="flex flex-row min-h-screen bg-[#131313]">
    <component type="typeof(ChatApplication.Views.Components.Sidebar)" render-mode="ServerPrerendered"/>
    <main class="flex-grow">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/signalr.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>