<main class="flex flex-row min-w-screen min-h-screen bg-[#202329d9] rounded-3xl p-8" x-data="chat">
    <section class="flex flex-col">
        <form action="" class="relative min-w-[400px] pr-3">
            <input
                placeholder="Search..."
                type="text"
                class="bg-[#2e333d] outline-0 focus:outline-0 py-4 px-6 rounded-lg caret-white text-white indent-8 pl-3 font-light w-full ">
            <div class="absolute flex items-center justify-center top-[50%] translate-y-[-50%] left-[11px] bg-[#2e333d]">
                <i class="fa-solid fa-magnifying-glass text-white text-[20px]"></i>
            </div>
        </form>

        <li class="mt-10 flex flex-col gap-4" id="chat-list">
            <template x-for="(group, index) in groups">
                <ol :class="{'bg-[#2e333d]' : selectedGroupId == group.id}" x-on:click="selectChat(group.id, index)" class="flex flex-row min-h-[110px]  w-full rounded-3xl px-5 transition hover:opacity-75 hover:scale-[0.95] cursor-pointer">
                    <div class="flex flex-col items-center justify-center" id="image-item-1">
                        <img
                            src="https://img.freepik.com/premium-photo/sketch-chair-with-word-ergonomic-bottom_900370-24948.jpg?w=996"
                            class="h-[70px] rounded-2xl">
                    </div>
                    <div class="flex flex-col justify-center items-center pl-5 truncate">
                        <div class="flex items-center flex-col h-[70px] py-3 truncate">
                            <p class="text-white text-left w-full truncate text-[18px]" x-text="group.name"></p>
                            <p class="text-gray-500 font-light text-[14px] truncate mt-2" x-text="group.description"></p>
                        </div>
                    </div>
                </ol>

            </template>
        </li>

    </section>

    <section data-role="chat-ui" class="flex flex-col px-8 w-full">
        <div class="flex flex-row items-center w-full">
            <div class="flex flex-col" x-show="selectedChatIndex >= 0">
                <h5 class="text-white font-semibold text-2xl" x-text="groups[selectedChatIndex].name"></h5>
                <p class="text-gray-500 font-light text-[14px]">25 members, 2 online</p>
            </div>

            <ul class="flex flex-row gap-8 ml-auto text-gray-500 text-[20px]">
                <li>
                    <i class="fa-solid fa-magnifying-glass transition hover:scale-[1.05] hover:text-white cursor-pointer"></i>
                </li>
                <li>
                    <i class="fa-solid fa-phone transition hover:scale-[1.05] hover:text-white cursor-pointer"></i>
                </li>
                
                <li>
                    <i class="fa-solid fa-window-maximize transition hover:scale-[1.05] hover:text-white cursor-pointer"></i>
                </li>
                <li>
                    <i class="fa-solid fa-ellipsis-vertical transition hover:scale-[1.05] hover:text-white cursor-pointer"></i>
                </li>
            </ul>
        </div>
        
        <div data-role="chat-ui_message-window" class="flex flex-col h-full w-full">
            <div class="flex flex-row relative mt-auto h-[60px] items-center">
                <div data-role="icon-container" class="absolute top-[50%] translate-y-[-50%] left-[20px]">
                    <i class=" fa-solid fa-paperclip cursor-pointer transition text-gray-100 hover:scale-[1.1]"></i>
                </div>
                <input 
                    x-bind:value="messageToSend" 
                    type="text" class="outline-0 focus:outline-0 h-[50px] w-full text-gray-200 bg-transparent pl-12 pr-7"
                    placeholder="Your message..."
                >
            </div>
        </div>
    </section>
</main>

@section Scripts
{
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('chat', () => ({
                groups: [],
                messages: [],
                selectedGroupId: null,
                newMessage: '',
                connection: null,
                selectedChatIndex: -1,
                messageToSend: '',

                init() {
                    this.connection = new signalR.HubConnectionBuilder()
                        .withUrl("/hubs/chat")
                        .build();

                    this.connection.on('LoadChatList', this.onLoadChatList.bind(this));
                    this.connection.on('ReceiveMessage', this.onReceiveMessage.bind(this));

                    this.connection.start()
                        .then(() => this.loadGroups())
                        .catch(err => console.error(err.toString()));
                },

                onLoadChatList(chatList) {
                    this.groups = chatList;
                    this.selectChat(chatList[0].id, 0);
                },

                onReceiveMessage(message) {
                    if (message.chatGroupId === this.selectedGroupId) {
                        this.messages.push(message);
                    }
                },
                
                onReceiveMessages(messages) {
                    this.messages = messages;
                    console.log('messages', messages)
                },
                
                selectChat(id, index) {
                    this.selectedChatIndex = index;
                    this.selectedGroupId = id;
                    this.connection.send("GetMessages", id);
                },

                async loadGroups() {
                    await this.connection.invoke('LoadChatList');
                },

                async selectGroup(groupId) {
                    this.selectedGroupId = groupId;
                    this.messages = await this.connection.invoke('LoadMessages', groupId);
                },

                async sendMessage() {
                    if (this.newMessage.trim() && this.selectedGroupId) {
                        await this.connection.invoke('SendMessage', this.selectedGroupId, this.newMessage);
                        this.newMessage = '';
                    }
                }
            }))
        })
</script>
}